@media screen and (min-width: 768px) {
  $headerUnit: calc($baseUnit * 2.5);

  header {
    section.header-text {
      padding: $baseUnit;
      flex-basis: 60%;

      & h1 {
        width: 75%;
        font-size: $headerUnit;
        line-height: $headerUnit;
      }

      & p {
        font-size: calc($baseUnit * 1.25);
      }
    }

    ul.rating-list {
      width: fit-content;
      & .rating {
        @include flex(row);
        justify-content: flex-start;
        gap: calc($baseUnit * 1.5);
        padding: $baseUnit calc($baseUnit * 1.5);
      }
    }
  }

  // review list
  .review-list {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: stretch;
    .review:nth-of-type(1),
    .review:nth-of-type(3) {
      margin-right: auto;
    }

    .review:nth-of-type(2) {
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    @include flex(row);
    gap: $baseUnit;
    min-height: 50vh;
    max-width: $container;
    margin: 0 auto;
    justify-content: space-between;

    section.header-text {
      text-align: left;
      align-items: flex-start;
      max-width: calc($maxCardWidth * 1.1);

      h1 {
        width: 70%;
      }
    }

    ul.rating-list {
      row-gap: $baseUnit;
      & .rating {
        width: max-content;
        padding: calc($baseUnit * 0.9) calc($baseUnit * 1.5);

        &:nth-of-type(1) {
          transform: translateX(calc($ratingCardTranslate * -4));
        }
        &:nth-of-type(2) {
          transform: translateX(calc($ratingCardTranslate * -2));
        }
        &:nth-of-type(3) {
          transform: translateX(calc($ratingCardTranslate * 0));
        }
      }
    }
  }
  // review list
  .review-list {
    width: 100%;
    max-width: $container;
    margin: 0 auto;
    display: grid;
    gap: calc($baseUnit * 2);
    grid-template-columns: repeat(3, 1fr);

    .review:nth-of-type(1) {
      transform: translateY(calc($ratingCardTranslate) * -1);
    }

    .review:nth-of-type(2) {
      transform: translateY(calc($ratingCardTranslate) * 0);
    }

    .review:nth-of-type(3) {
      transform: translateY(calc($ratingCardTranslate) * 1);
    }
  }
}
