footer.attribution {
  position: absolute;
  pointer-events: none;
  z-index: -999;
  transform: translate(-999%, -999%) scale(0);
  opacity: 0;
}

main {
  position: relative;
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;

  &::before,
  &::after {
    position: absolute;
    content: "";
    pointer-events: none;
    height: 50vh;
    width: 90vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    top: 0;
    left: 0;
    background-image: url(/images/bg-pattern-top-mobile.svg);
    background-position: top;
  }
  &::after {
    bottom: 0;
    right: 0;
    background-image: url(/images/bg-pattern-bottom-mobile.svg);
    background-position: bottom;
  }
}
