*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 30px;
  gap: 30px;
}
header section.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18.75px;
  text-align: center;
  padding: 15px;
  max-width: 450px;
}
header section.header-text h1 {
  font-weight: 700;
  font-size: 37.5px;
  color: hsl(300, 43%, 22%);
  line-height: 37.5px;
  width: 90%;
}
header section.header-text p {
  color: hsl(303, 10%, 53%);
  font-size: 18.75px;
}
header ul.rating-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 15px;
}
header ul.rating-list .rating {
  width: 100%;
  background-color: hsl(300, 24%, 96%);
  border-radius: 7.5px;
  padding: 11.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11.25px;
  max-width: 450px;
}
header ul.rating-list .rating__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 7.5px;
}
header ul.rating-list .rating__stars img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: 12.75px;
  width: auto;
  aspect-ratio: 1/1;
}
header ul.rating-list .rating strong {
  font-size: 16.5px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 45px 30px;
  list-style: none;
}
.review-list .review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22.5px;
  background-color: hsl(300, 43%, 22%);
  padding: 37.5px;
  border-radius: 7.5px;
  max-width: 450px;
}
.review-list .review__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  width: 100%;
}
.review-list .review__user .user__img {
  border-radius: 50%;
  display: block;
  height: 37.5px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-list .review__user .user__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.review-list .review__user .user__info h2 {
  font-size: 15px;
  font-weight: 700;
  color: hsl(300, 24%, 96%);
}
.review-list .review__user .user__info h2 + span {
  font-size: 15px;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
  opacity: 0.75;
}
.review-list .review blockquote {
  color: hsl(300, 24%, 96%);
  opacity: 0.9;
  font-size: 16.875px;
  line-height: 22.5px;
}

footer.attribution {
  position: absolute;
  pointer-events: none;
  z-index: -999;
  transform: translate(-999%, -999%) scale(0);
  opacity: 0;
}

main {
  position: relative;
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}
main::before, main::after {
  position: absolute;
  content: "";
  pointer-events: none;
  height: 50vh;
  width: 90vw;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
main::before {
  top: 0;
  left: 0;
  background-image: url("../../images/bg-pattern-top-mobile.svg");
  background-position: top;
}
main::after {
  bottom: 0;
  right: 0;
  background-image: url("../../images/bg-pattern-bottom-mobile.svg");
  background-position: bottom;
}

@media screen and (min-width: 768px) {
  header section.header-text {
    padding: 15px;
    flex-basis: 60%;
  }
  header section.header-text h1 {
    width: 75%;
    font-size: 37.5px;
    line-height: 37.5px;
  }
  header section.header-text p {
    font-size: 18.75px;
  }
  header ul.rating-list {
    width: -moz-fit-content;
    width: fit-content;
  }
  header ul.rating-list .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 22.5px;
    padding: 15px 22.5px;
  }
  .review-list {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: stretch;
  }
  .review-list .review:nth-of-type(1),
  .review-list .review:nth-of-type(3) {
    margin-right: auto;
  }
  .review-list .review:nth-of-type(2) {
    margin-left: auto;
  }
  main::before, main::after {
    width: 60vw;
    height: 80vh;
  }
  main::before {
    background-image: url("../../images/bg-pattern-top-desktop.svg");
  }
  main::after {
    background-image: url("../../images/bg-pattern-bottom-desktop.svg");
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    min-height: 50vh;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
  }
  header section.header-text {
    text-align: left;
    align-items: flex-start;
    max-width: 495px;
  }
  header section.header-text h1 {
    width: 70%;
  }
  header ul.rating-list {
    row-gap: 15px;
  }
  header ul.rating-list .rating {
    width: -moz-max-content;
    width: max-content;
    padding: 13.5px 22.5px;
  }
  header ul.rating-list .rating:nth-of-type(1) {
    transform: translateX(-40%);
  }
  header ul.rating-list .rating:nth-of-type(2) {
    transform: translateX(-20%);
  }
  header ul.rating-list .rating:nth-of-type(3) {
    transform: translateX(0%);
  }
  .review-list {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .review-list .review:nth-of-type(1) {
    transform: translateY(-10%);
  }
  .review-list .review:nth-of-type(2) {
    transform: translateY(0%);
  }
  .review-list .review:nth-of-type(3) {
    transform: translateY(10%);
  }
}/*# sourceMappingURL=styles.css.map */